/* Estilos principais para o container geral da página */
.container {
    max-width: 720px;
    margin: 4rem auto;
    padding: 0 2rem;

    display: flex;
    flex-direction: column;

}
/* Estilização específica para o cabeçalho (h1) dentro do container */
.container h1 {
    color: var(--white);

}
/* Estilos para o cabeçalho da lista de pedidos */
.containerHeader {
    display: flex;
    flex-direction: row;

    button {
        background: transparent;
        border: 0;
        margin-left: 1rem;

    }
}
/* Estilos para a lista de pedidos */
.listOrders {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;

}
/* Estilos para cada item individual na lista de pedidos */
.orderItem {
    display: flex;
    flex-direction: row;
    background-color: var(--dark-900);
    margin-bottom: 1rem;
    align-items: center;
    border-radius: 0.3rem;

    button {
        border: 0;
        background: transparent;
        font-size: 1.2rem;
        color: var(--white);
        height: 60px;
        align-items: center;
        display: flex;
    }

}

.tag {
    width: 9px;
    background-color: var(--green-900);
    height: 60px;
    border-radius: 0.3rem 0 0 0.3rem;
    margin-right: 1rem;
}

/* Estilos para a mensagem exibida quando a lista de pedidos está vazia */
.emptyList {
    font-size: 1.4rem;
    color: var(--gray-100);
}