/* Estilização base para o componente Button */
.button{
    max-width: 600px;
    background-color: var(--green-900);
    border:0;
    padding: 0.4rem;
    color: var(--white);
    border-radius: 0.5rem;
    transform:filter 0.2s;

 /* Estilos aplicados quando o botão está desabilitado */
    &[disabled]{
        cursor: not-allowed;
        svg{
            animation: animate 2s infinite;
        }
    }

    &:hover{
        filter:brightness(1.35)
    }

}
/* Estilização para o texto dentro do botão */
.buttonText{
    color: var(--dark-900);
    font-weight: bold;
}

/* Animação aplicada ao ícone de carregamento dentro do botão desabilitado */
@keyframes animate{
 from{
    transform: rotate(0deg);
 }
 to{
  transform: rotate(360deg);
 }
} 
    
