/* Estilização do container principal do cabeçalho */
.headerContainer{
    height: 5rem;
}
/* Estilização do conteúdo dentro do cabeçalho */
.headerContent{
    max-width: 1300px;
     height: 5rem;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

/* Estilização específica para imagens dentro do headerContent */
    img{
        cursor: pointer;
        transition: transform 0.5s;

 /* Efeito de hover aumentando o tamanho da imagem */
        &:hover{
           transform: scale(1.5);
        }

    }

}

/* Estilização da navegação principal do cabeçalho */
.menuNav{
    display: flex;
    align-items: center;

/* Estilização para cada link dentro da navegação */
    a{
        color: var(--white);
        padding: 0 0.5rem;
        display: inline-block;
        position: relative;
        transition: color 0.7s;

/* Espaçamento entre os links */
        & + a{
            margin-left: 2rem;
        }

        &:hover{
            color: var(--green-900);
        }
    }
/* Estilização do botão dentro da navegação */
    button{
        margin-left: 2rem;
        background: transparent;
        border: 0;
        transform:filter 0.2s;

        &:hover{
           transform: scale(1.5);
        }
    }
}