.headerContainer{
    height: 5rem;
}

.headerContent{
    max-width: 1300px;
     height: 5rem;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img{
        cursor: pointer;
        transition: transform 0.5s;

        &:hover{
           transform: scale(1.5);
        }

    }

}

.menuNav{
    display: flex;
    align-items: center;

    a{
        color: var(--white);
        padding: 0 0.5rem;
        display: inline-block;
        position: relative;
        transition: color 0.7s;

        & + a{
            margin-left: 2rem;
        }

        &:hover{
            color: var(--green-900);
        }
    }

    button{
        margin-left: 2rem;
        background: transparent;
        border: 0;
        transform:filter 0.2s;

        &:hover{
           transform: scale(1.5);
        }
    }
}